@import'../css/reset.css';
@import '../css/colors.css';

/*style index*/

.navbar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
}

.navbar a {
    color: var(--background-color);
}


h1 {
    color: var(--primary-color);
    margin: 0;
    font-size: 2rem;
   font-weight: bold;
}

.nav-links ul li {
    margin: 0 25px;
}

.navbar .fa-solid {
    font-size: 35px;
    color: var(--background-color);
    position: absolute;
    top: 0;
    
}

a{
    text-decoration: none;
    list-style: none;
}


.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.location-icon {
    position: absolute;
    left: 10px;
}

.location-icon {
    cursor: pointer;
}

.search-container .city {
    width: calc(100% - 10px);
    padding: 10px 40px 10px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 40px;
}


.search-container .search-icon {
    position: relative;
    right: 25px;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text-color);
}

.search-container .search-icon:focus {
    outline: none;
}

.hidden {
    display: none;
}

#locationSearch {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#locationSearch select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.container, .container-signup {
    max-width: 600px;
    margin: 2rem auto;
    background-color: transparent;
    color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
}

#detail-picture {
    width: 100%;
    border-radius: 15px;
    border: 5px solid #ffba4a;
    margin: 10px 0;
}

#menuContainer{
    position: relative;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    z-index: 9999;
    height: 100px;
}

h2 {
    margin-top: 0;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.checkbox-label{
    display: flex;
    flex-direction: row;
    
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.radio-group label {
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 15px; 
}

.radio-group label input {
    margin-right: 4px;
}

.checkbox-label input[type="checkbox"] {
    width: 60px;
    margin-right: 10px;
    
}

/*----------------modal---------------------------------*/

.modal-item {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content-item {
    background-color: var(--succes-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 80%;
    max-width: 500px;
    text-align: center;
}


/*----------------loader---------------------------------*/
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*----------------historical---------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    backdrop-filter: blur(5px);
    margin: 15% auto;
    padding: 20px;
    border: 1px ;
    width: 80%;
    max-width: 500px;
}
.close, .close-button  {
    color: var(--primary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus, .close-button:hover, .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*----------------main---------------------------------*/

main {
    display: flex;
    margin: 30px 0 20px 30px;
}

.accommodation-section {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.bloc1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.accommodation-section img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 20px 25px 0 0;
    padding-right: 10px;
    margin: 5px 0 0 5px;
}

.accommodation-section .border-picture {
    width: 300px;
    height: auto;
    border: 5px solid var(--primary-color);
    background: var(--background-color);
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.062);
    transition: 0.8s;
    padding-bottom: 10px;
}

.accommodation-section .border-picture:hover {
    transform: scale(1.07);
}

.text-picture {
    margin-left: 15px;
    line-height: 25px;
}

.accommodation-section .star {
    font-size: 90%;
}

.accommodation-section .colorblue {
    color: var(--primary-color);
}

.accommodation-section .colorgrey {
    color: var(--border-color);
}

.chart {
    background: var(--background-color);
    width: 30%;
    height: 650px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------Appointment-------------------------------------------------*/

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid var( --border-color);
    border-radius: 5px;
}

#confirmation {
    text-align: center;
}



/*-------------------------------------Footer-------------------------------------------------*/

.bloc-footer {
    width: 100%;
    min-height: 400px;
    background: var(--primary-color);
    height: 190px;
    display: flex;
    margin-left: 0;
}

.section-footer {
    flex: 1;
    margin-left: 40px;
}

footer h4 {
    font-weight: 900;
    font-size: 119%;
    line-height: 50px;
}

footer a {
    line-height: 30px;
    color: rgb(59, 59, 59);
}



/*------------Media Queries for Responsive Design------------------ */
@media screen and (max-width: 1200px) {
   
    .container {
        height: auto;
        margin: auto;
        padding: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    input, textarea {
        padding: 5px;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 8px;
        margin: 10px;
    }

    .radio-group input[type="radio"] {
        margin-top: 10px;
    }

    .bloc1 {
        grid-template-columns: repeat(1, 2fr);
    }
    
    .accommodation-section .border-picture {
        margin: 20px;    
    }
    
    main{
        display: block;
    }

    .bloc-footer {
        height: 600px;
        width: auto;
        margin: 10px 0;
    }

    
    footer h4 {
        font-size: 1.5rem;
    }

    footer ul {
        padding: 0;
        list-style-type: none;
    }

    footer ul li {
        margin: 10px 0;
    }

    footer a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    .nav-links ul {
        display: block;
    }
    
    .search-container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .search-container .city {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding-left: 40px; 
    }

    .search-container .search-icon {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
    }

    .radio-group label {
        margin-bottom: 0.5rem;
    }

    .container {
        margin-top: 25px;
        padding-bottom: 90px;
        height: auto;
    }

    .container-signup {
        margin-top: 25px;
        padding-bottom: 90px;
        height: auto;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .search-container {
        flex-direction: column;
    }

    .accommodation-section .border-picture {
        width: 100%;
    }

    .bloc-footer {
        height: auto;
        margin: 10px 0;
    }
    
    footer h4 {
        font-size: 1.5rem;
    }

    footer ul {
        padding: 0;
        list-style-type: none;
    }

    footer ul li {
        margin: 10px 0;
    }

    footer a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 360px) {
    .nav-links ul li {
        margin: 0 10px;
    }

    main {
        display: block;
        margin: 0 ;
    }

    .accommodation-section{
        width: 100%;
    }

    .search-container {
        width: 100%;
        padding: 10px;
    }
    nav h1 {
        margin: left;
    }

    .search-container .city {
        width: calc(100% - 20px); 
        padding: 10px;
        margin-bottom: 10px;
        padding-left: 40px; 
    }

    .search-container .search-icon {
        right: 30px;
    }

    button, input[type="submit"] {
        width: 100%;
        padding: 0.75rem;
    }

    ul li a{
        font-size: 13px;
    }

    .bloc-footer {
        height: auto;
        margin: 10px 0;
    }

    .section-footer {
        margin-left: 50px;
    }
    
    footer h4 {
        font-size: 15px;
    }

    footer ul {
        padding: 0;
        list-style-type: none;
    }

    footer ul li {
        margin: 10px 0;
    }

    footer a:hover {
        text-decoration: underline;
    }
}
