<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>
    <header>
        <div id="menuContainer"></div>
    </header>
    <div class="container">
        <h1>Prendre un Rendez-vous</h1>
    <form id="appointment-form">
        <div class="form-group">
            <label for="date">Date :</label>
        <input type="date" id="date" name="date" required>
        </div>

        <div class="form-group">
            <label for="time">Heure :</label>
            <input type="time" id="time" name="time" required>
        </div>

        <div class="form-group">
            <label for="message">Message :</label>
        <textarea id="message" name="message"></textarea>
        </div>

        <input type="submit" value="Envoyer">
    </form>

    <div id="confirmation" style="display: none;">
        <h2>Rendez-vous confirmé !</h2>
        <p>Merci de nous avoir contactés. Nous vous confirmerons votre rendez-vous bientôt.</p>
    </div>
    </div>
    

    <footer id="footer"></footer>

    <div id="successModal" class="modal-item">
        <div class="modal-content-item">
            <span class="close-button">&times;</span>
            <p id="modalMessage"></p>
        </div>
    </div>

    <script type="module" src="../js/appointment.js"></script>
    <script type="module" src="../js/menu.js"></script>
    <script type="module" src="../js/footer.js"></script>
</body>
</html>
