
<footer>
    <div class="bloc-footer">
        <div class="section-footer">
            <h4>A propos</h4>
            <ul>
                <li><a href="#">Fonctionnement du site</a></li>
                <li><a href="./condition.html">Conditions générales de vente</a></li>
                <li><a href="./privacy_policy.html">Données et confidentialité</a></li>
            </ul>

        </div>
        <div class="section-footer">
            <h4>Assistance</h4>
            <ul>
                <li><a href="#">Centre d'aide</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </div>
    </div>
</footer>