<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/theme.css">
    
</head>
<body>
    <header id="menuContainer"></header>

    <section>
        <div class="container">
            <h2>Se connecter</h2>
            <form id="loginForm">
                <div class="form-group">
                    <label for="email">Login ou mail</label>
                    <input type="text" id="email" name="email" placeholder="votre login ou mail" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="text" id="password" name="password" placeholder="mot de passe" required>
                </div>
    
                <input type="submit" value="Se connecter">
            </form>
        </div>
    </section>
    <footer id="footer"></footer>

    <div id="successModal" class="modal-item">
        <div class="modal-content-item">
            <span class="close-button">&times;</span>
            <p id="modalMessage"></p>
        </div>
    </div>

    <script type="module" src="../js/menu.js"></script>
    <script type="module" src="../js/footer.js"></script>
    <script type="module" src="../js/login.js"></script>
</body>
</html>
