<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>
    <header>
        <h1>NappyHair</h1>
        <nav>
            <ul>
                <li class="RFEE">
                    <a href="./index.html">Accueil</a>
                    <a href="./salon.html">Coiffure</a>
                    <a href="./account.html">Mon compte</a>
                </li>
            </ul>
            
            <ul>
                <li>
                    <a href="./singup.html">Inscription</a>
                    <a href="./login.html">Connexion</a>
                    <a href="./appointment.html">Rendez-vous</a>
                </li>
            </ul>

        </nav>
    </header>
</body>

</html>