<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>
    <header>
        <h1>NappyHair</h1>
        <nav>
            <a href="./index.html">Accueil</a>
            <a href="./salon.html">Coiffure</a>
            <a href="./singup.html">Inscription</a>
            <a href="./login.html">Connexion</a>
        </nav>
    </header>
</body>

</html>