<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de Confidentialité</title>
</head>
<body>
    <header>
       <p>Veuillez lire les présentes Conditions d’Utilisation du Site Internet avec attention avant de commencer à utiliser notre site internet puisqu’elles s’appliquent à votre utilisation de notre site internet. Nous vous recommandons d’imprimer un exemplaire des présentes Conditions pour les consulter ultérieurement. En utilisant notre site internet, vous confirmez que vous acceptez les présentes Conditions d’Utilisation du Site Internet et que vous vous engagez à vous y conformer. Si vous n’acceptez pas les Conditions d’Utilisation du Site Internet, vous ne devez pas utiliser notre site internet.</p> 

        <p>Veuillez noter que les présentes Conditions d’Utilisation du Site Internet couvrent uniquement votre utilisation de notre Site Internet et qu’elles NE s’appliquent PAS aux produits et services de tiers offerts à la réservation sur notre Site Internet – veuillez vous reporter à nos Conditions Générales de Réservation pour prendre connaissance des conditions qui s’appliquent lorsque vous faites des réservations ou achetez des bons sur notre Site Internet.</p>
    </header>

    <main>
        <section>
            <h2>1  Introduction</h2>
            <p>1.1  Bienvenue sur notre site internet, www.NappyHair.fr ("Site Internet "). Le Site Internet est fourni par NappyHair FR), société immatriculée sous le numéro RCS 752 044 503, dont le siège social est sis 2 rue Bréguet, 75011, Paris, et dont le numéro d’enregistrement de TVA est le FR45752044503 ("NappyHair", "nous" ou "notre/nos", en bref). Vous et votre/vos désigne vous-même, en tant qu’utilisateur de notre Site Internet.</p>
        </section>

        <section>
            <h2>Cookies</h2>
            <p>Notre site web utilise des cookies pour améliorer votre expérience utilisateur. En continuant à utiliser notre site, vous consentez à l'utilisation de ces cookies conformément à notre politique de cookies.</p>
        </section>

        <section>
            <h2>Divulgation des Données</h2>
            <p>Nous ne partagerons vos informations personnelles avec aucun tiers sans votre consentement, sauf si requis par la loi ou dans le cadre de la fourniture de nos services.</p>
        </section>

        <section>
            <h2>Conservation des Données</h2>
            <p>Nous conserverons vos données personnelles aussi longtemps que nécessaire pour remplir les finalités pour lesquelles elles ont été collectées, ou conformément aux exigences légales.</p>
        </section>

        <section>
            <h2>Vos Droits</h2>
            <p>Vous avez le droit de demander l'accès à vos données personnelles, de les rectifier, de les supprimer ou de limiter leur traitement. Vous avez également le droit de vous opposer au traitement de vos données personnelles et le droit à la portabilité des données.</p>
        </section>

        <section>
            <h2>Modification de Notre Politique de Confidentialité</h2>
            <p>Nous pouvons mettre à jour notre politique de confidentialité de temps à autre. Nous vous informerons de tout changement en publiant la nouvelle politique de confidentialité sur cette page.</p>
        </section>

        <section>
            <h2>Nous Contacter</h2>
            <p>Si vous avez des questions concernant notre politique de confidentialité, veuillez nous contacter à [votre adresse e-mail].</p>
        </section>
    </main>

    <footer>
        <p>&copy; [2024] [KASSI / NappyHair]. Tous droits réservés.</p>
    </footer>
</body>
</html>