<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAIR_MVC</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">-->
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/reset.css">
    
</head>
<body>
    <header id="menuContainer"></header>
    <section>
        <div class="container">
            <h2>Bienvenue sur NappyHair</h2>
            <form id="registrationForm">
                <div class="form-group">
                    <label for="type">Je suis :</label>
                    <select id="type" name="type" onchange="toggleForm()">
                        <option value="client">Client</option>
                        <option value="professionnel">Professionnel</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" name="nom" required>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom :</label>
                    <input type="text" id="prenom" name="prenom" required>
                </div>
                <div class="form-group">
                    <label for="ville">Ville</label>
                        <select id="ville" name="ville">
                            <option placeholder="ville"></option>
                            <option> Paris </option>
                            <option> Abidjan </option>
                            <option> Rome </option>
                            <option> Lyon </option>
                            <option> Brest </option>
                            <option> Rennes </option>
                            <option> Yamoussoukro </option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="pays">Pays</label>
                        <select id="pays" name="pays" required>
                            <option value="pays"></option>
                            <option> France </option>
                            <option> Côte d'Ivoire </option>
                            <option> Italie </option>
                            <option> Ghana </option>
                            <option> Canada </option>
                            <option> Pologne </option>
                            <option> Mali </option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="codePostale">Code Postal :</label>
                    <input type="text" id="codePostale" name="codePostale" required>
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="verifyPassword">Confirmez le mot de passe :</label>
                    <input type="password" id="verifyPassword" name="verifyPassword" required>
                </div>
                <div class="form-group" id="proFields" style="display:none;">
                    <label for="entreprise">Nom de l'entreprise :</label>
                    <input type="text" id="entreprise" name="entreprise">
                    <label for="siret">Numéro SIRET :</label>
                    <input type="text" id="siret" name="siret">
                </div>
                <div class="form-group">
                    <label for="numeroDeTelephone">Numéro de Téléphone :</label>
                    <input type="text" id="numeroDeTelephone" name="numeroDeTelephone" required>
                </div>

                <div class="form-group radio-group">
                    <label><input type="radio" name="genre" value="homme" required> Homme</label>
                    <label><input type="radio" name="genre" value="femme" required> Femme</label>
                    <label><input type="radio" name="genre" value="autre" required> Autre</label>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" name="newsletter" value="subscribe">
                        Je souhaite recevoir des e-mails de la part de Treatwell incluant les dernières offres et hot news beauté. Vous pouvez modifier vos préférences à tout moment. Consultez notre 
                        <a href="privacy_policy.html" target="_blank">Politique de confidentialité</a>
                        pour plus d'informations.
                    </label>
                </div>

                <div class="form-group">
                    <p>En soumettant ce formulaire vous
                        acceptez nos <a href="condition.html" target="_blank">Termes et conditions d'utilisation</a>.</p>
                    </label>
                </div>

                <input type="submit" value="Rejoignez NappyHair">
            </form>
        </div>
        </div>
    </section>
    
    <footer id="footer"></footer>
    <script  src="../js/signup.js"></script>
    <script type="module" src="../js/menu.js"></script>
    <script type="module" src="../js/footer.js"></script>
</body>
</html>
